.activate-container {
  //background-image: url("../../assets/images/elend-bg-2.png");
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M181.05%2c459.104C215.246%2c459.688%2c245.767%2c438.245%2c262.131%2c408.213C277.808%2c379.44%2c274.114%2c345.483%2c258.717%2c316.559C242.173%2c285.479%2c216.247%2c256.807%2c181.05%2c255.894C144.616%2c254.949%2c112.656%2c279.885%2c96.078%2c312.342C80.872%2c342.114%2c87.874%2c376.592%2c104.625%2c405.524C121.333%2c434.382%2c147.709%2c458.535%2c181.05%2c459.104' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M538.563%2c270.233C582.034%2c270.539%2c630.339%2c264.031%2c652.066%2c226.378C673.788%2c188.735%2c655.162%2c143.711%2c633.217%2c106.198C611.56%2c69.177%2c581.436%2c31.166%2c538.563%2c32.356C496.901%2c33.513%2c473.385%2c75.091%2c452.594%2c111.213C431.873%2c147.212%2c408.039%2c188.261%2c427.793%2c224.8C448.135%2c262.427%2c495.79%2c269.932%2c538.563%2c270.233' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1303.6882054984742 471.95494080638844L1460.417591068471 424.0379589514761 1412.5006092135586 267.3085733814793 1255.7712236435618 315.22555523639164z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M311.72171876047895 111.30786093111783L353.47993916051905 12.931658609093546 185.03652547746256-0.5175708299545079z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M465.166%2c197.262C491.271%2c194.887%2c511.276%2c176.311%2c523.961%2c153.372C536.166%2c131.302%2c540.535%2c105.026%2c528.398%2c82.919C515.833%2c60.032%2c491.209%2c48.128%2c465.166%2c46.278C434.815%2c44.122%2c401.207%2c47.451%2c384.194%2c72.677C365.539%2c100.339%2c366.198%2c138.092%2c384.38%2c166.068C401.24%2c192.009%2c434.354%2c200.065%2c465.166%2c197.262' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1105.0345215310242 51.77359629433914L1145.4831256934424 142.62264869622572 1236.332178095329 102.17404453380746 1195.8835739329108 11.32499213192088z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  opacity: 0.8;
  background-size: cover;
  align-items: center;
  .activate-welcome-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #E1E2E2;
    .activate-welcome {
      font-size: 85px;
      position: absolute;
      top: 230px;
    }
    .activate-message {
      position: absolute;
      top: 350px;
      font-size: 22px;
    }
    .activate-button {
      color: #ffffff;
      margin-top: 10px;
      width: 180px;
      height: 65px;
      font-size: 24px;
      position: absolute;
      top: 400px;
    }
  }
}

